@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');

$source-code: 'Source Code Pro',  monospace;

.home-cont {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: #000017;

}

.home-button{
    position: absolute;
    top: 80%;
    background-color: #000017;
    height: 40px;
    border-color: darkgray;
    border-bottom: solid darkgray 1px;
    // border-top: solid darkgray 1px;
    border-width: 2px;
    width: 100%;
    font-size: 25px;
    color: aliceblue;
    text-align: center;

}

.header-tittle{
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    font-size: 90px;
    font-family: $source-code;
    color: aliceblue;
}

